body {
  background: pink;
  font-family: "Roboto", sans-serif;
}

a {
  color: pink;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-sizing: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: pink;
  border: none;
  width: 60%;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 6px;
}

.search-form-button {
  background: rgb(241, 156, 235);
  font-size: 16px;
  border-radius: 6px;
  padding: 15px 30px;
  width: 30%;
  border: none;
  color: white;
  margin-left: 5px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
main {
  padding: 30px 0;
  display: block;
  unicode-bidi: isolate;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #f65282;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temp-value {
  font-size: 88px;
  font-weight: bold;
}

.weather-app-emoji {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-unit {
  font-size: 44px;
  margin-top: 22px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

footer {
  border-bottom: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
