body {
  background: pink;
  font-family: "Roboto", sans-serif;
}
.container {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  width: 60%;
  padding: 15px 30px;
  font-size: 20px;
}

.search-form-button {
  background: rgb(241, 156, 235);
  font-size: 16px;
  border-radius: 10px;
  padding: 15px 30px;
  width: 30%;
}

main {
  padding: 30px 0;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  padding: 50, 0, 0, 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-emoji {
  width: 88px;
  height: 88px;
}
.weather-app-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}
